<h1><%= @headline.quote %></h1>
<h2>- <%= @headline.player %></h2>


<div class="about">
  <h3>You know you want to find out more about playing D&D</h3>

  <p>
    This page was built by Alyse. A girl on a mission to point you to nerdy things.
  </p>
  <br />
  <p>
    Go Forth and Play More Games!
  </p>
  <p>
    If you want to learn more about D&D please visit their site: <a target="_blank" href="https://dnd.wizards.com/"> here</a>.
  </p>

</div>