<h1><%= @headlines.quote %></h1>
<h2>- <%= @headlines.player %></h2>


<div class="about">
  <h3>You know you want to find out more about playing D&D</h3>

  <p>
    This page was built by Alyse. A girl on a mission to point you to nerdy things.
  </p>
  <br />
  <p>
    Go Forth and Play More Games!
  </p>
  <p>
    If you want to learn more about D&D please visit their site: <a target="_blank" href="https://dnd.wizards.com/"> here</a>.

    <img src="https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/03_NEW-TO-DnD_Races_Heroes_Hero_140725.jpg">
  </p>

</div>

